nav {
    background-color: $navBg;
    padding: 5px;
    ul {
        display: flex;
        li {
            list-style: none;
            flex-grow: 1;
            margin: 5px;
            a{
                color: $navLinkTxtBg;
                text-decoration: none;
                display: block;
                padding: 5px;
                background-color: $navLinkBg;
                @extend .button;
                &:hover {
                    color: $navLinkHover;
                }
            }
        }
    }
}